.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 60px;
}
