@font-face {
  font-family: "MesloLGS NF";
  src: url("../fonts/MesloLGS-NF-Regular.eot");
  src: url("../fonts/MesloLGS-NF-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MesloLGS-NF-Regular.woff2") format("woff2"),
    url("../fonts/MesloLGS-NF-Regular.woff") format("woff"),
    url("../fonts/MesloLGS-NF-Regular.ttf") format("truetype"),
    url("../fonts/MesloLGS-NF-Regular.svg#MesloLGS-NF-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "MesloLGS NF", sans-serif;
}
