.bottombar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: white;
  border-top: 1px solid black;
  font-weight: bold;
  color: black;
  padding: 20px;
  box-sizing: border-box;
}
.bottombar a {
  padding: 10px;
  margin: 10px;
}
/* A link that has not been visited */
.bottombar a:link {
  color: black;
}
/* A link that has been visited */
.bottombar a:visited {
  color: lightgrey;
}
/* A link that is hovered on */
.bottombar a:hover {
  color: dimgrey;
}
/* A link that is selected */
.bottombar a:active {
  color: slategrey;
}
