/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: lightgrey;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: lightgrey;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: slategrey;
    box-shadow: -80px 0 0 80px black;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: black;
}
input[type="range"]::-moz-range-track {
  background-color: lightgrey;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: black;
}
input[type="range"]::-ms-fill-upper {
  background-color: lightgrey;
}
