.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: lightgrey;
  box-shadow: 2px 2px 2px black;
  position: fixed;
  top: 40px;
  left: -3px;
  max-width: 200px;
  width: 70%;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;
}
.sidebar__entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar__icon {
  margin-left: 8px;
  color: black;
  font-size: 1.5rem;
}
.sidebar__space {
  flex: 1;
}
.sidebar__date {
  font-size: 0.5rem;
  margin-right: 3px;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar a {
  margin-top: 5px;
  margin-left: 20px;
}
/* A link that has not been visited */
.sidebar a:link {
  color: black;
}
/* A link that has been visited */
.sidebar a:visited {
  color: white;
}
/* A link that is hovered on */
.sidebar a:hover {
  color: dimgrey;
}
/* A link that is selected */
.sidebar a:active {
  color: slategrey;
}
