.sketchcontent {
  display: flex;
  flex-direction: column;
}

.sketch__layout {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px 2px grey;
  margin: 5px;
}
.sketch__inputs {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px 2px grey;
  margin: 5px;
}
