.topbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: black;
  border-bottom: 1px solid white;
  font-weight: bold;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}
.topbar__hamburger {
  font-family: "MesloLGS NF", sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2em;
}
.topbar__sitename {
  margin-left: 0.75rem;
}
.topbar__spacer {
  flex: 1;
}
/* A link that has not been visited */
.topbar a:link {
  color: white;
}
/* A link that has been visited */
.topbar a:visited {
  color: lightgrey;
}
/* A link that is hovered on */
.topbar a:hover {
  color: dimgrey;
}
/* A link that is selected */
.topbar a:active {
  color: slategrey;
}
